html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.checkout-title {
    text-align: center;
    margin-bottom: 20px;
    color: #00376e; 
}

.checkout-page {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F7F7F7; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.checkout-summary {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 15px; 
    background-color: #003366; 
    color: #FFD700;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%; 
    max-width: 400px; 
    height: 100px; 
    box-sizing: border-box; 
}

.checkout-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto; 
    text-align: left; 
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    color: #003366; 
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #003366; 
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #003366; 
    border-radius: 4px;
    font-size: 1em;
    background-color: #FFFFFF; 
    color: #003366; 
}

button[type="submit"],
button.go-back-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #FF7F50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button.go-back-button:hover {
    background-color: #e64a19; 
}

button.go-back-button {
    background-color: #003366; 
}

button.go-back-button:hover {
    background-color: #002244; 
}

.goback-btn {
    background-color: #FF7F50; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
}
  
.goback-btn:hover {
    background-color: #c82333;
}
